flow-landscape-parser/src/test/resources/mule5/configurations/hvac-unneeded-material-email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<sub-flow name="hvac-unneeded-material-email-queue-email-cancellation-flow" doc:id="25b6e65c-4808-4086-8248-4dd720ddaf7c" >
		<logger level="DEBUG" doc:name="DEBUG Queue email for cancelled order" doc:id="f04c199e-76de-4362-9681-1721192ce990" category="de.meyerwerft.integration.hvac_unneededmaterial_app" message="Queue email for cancelled order"/>
		<flow-ref doc:name="hvac-unneeded-material-email-get-email-address-of-owner-flow" doc:id="7830423c-d417-45fa-a2cb-11337c139d9e" target="buyerEmailAddress" name="hvac-unneeded-material-email-get-email-address-of-owner-flow"/>
		<set-variable value='#["Storno_" ++ payload.bestellNummer ++ payload.bestellJahr ++ "_" ++ (now() as String {format: "yyyyMMdd"}) ++ ".xlsx"]' doc:name="attachmentName" doc:id="d3f97f50-7cd6-4c61-88e1-c151b40d2a7b" variableName="attachmentName" />
		<parse-template doc:name="parse email template" doc:id="61d65805-45aa-43d7-9fa6-23f6f055ed71" target="emailBody" location="emailtext_stornierung.txt">
		</parse-template>
		<ee:transform doc:name="add emailBody, buyerEmailAddress and attachmentName to payload" doc:id="c0da3664-2c5a-4f65-801b-c50e643073cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ++ {
	attachmentName: vars.attachmentName,
	emailBody: vars.emailBody,
	buyerEmailAddress: vars.buyerEmailAddress
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<jms:publish doc:name="jms/mule/hvac-unneeded-material-app/v1/cancelled-orders/queue" doc:id="c980931c-dbb0-4fde-9562-b0f32a455309" config-ref="common-active-mq-config" destination="jms/mule/hvac-unneeded-material-app/v1/cancelled-orders/queue" sendCorrelationId="ALWAYS">
		</jms:publish>
	</sub-flow>
	<flow name="hvac-unneeded-material-send-email-flow" doc:id="8aeb9dd0-7d10-42a4-a6b9-e815be841b70" >
		<jms:listener doc:name="On New Message" doc:id="e6b79248-181d-45c8-bcba-677cfe62e1b8" destination="jms/mule/hvac-unneeded-material-app/v1/cancelled-orders/queue" config-ref="common-active-mq-config"/>
		<set-variable value="#['Bestellung ' ++ payload.bestellNummer ++ '/' ++ payload.bestellJahr ++ ' - STORNIERUNG']" doc:name="subject" doc:id="9214e98f-87a8-4a9f-9295-1ae7e4f111df" variableName="subject"/>
		<logger level="DEBUG" doc:name="DEBUG Dequeued Email" doc:id="80b94b81-59b3-4660-b8eb-b63d6eafaa08" message='#["Email dequeued: $(vars.subject)"]' category="de.meyerwerft.integration.hvac_unneededmaterial_app"/>
		<ee:transform doc:name="attachment (excel sheet)" doc:id="4943110f-c8ca-413d-9de4-228711abbee4">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="mapping/excel_content.dwl" variableName="attachment" />
			</ee:variables>
		</ee:transform>
		<email:send doc:name="Send email" doc:id="8602847b-393b-480f-a750-ce6b2eeb8a52" config-ref="common-general-smtp-config" toAddresses="#[payload.emailAddresses splitBy(',')]" ccAddresses="#[payload.emailAddressesCC splitBy(',')]" fromAddress="#[payload.buyerEmailAddress]" subject="#[vars.subject]">
			<email:body contentType="text/plain" encoding="UTF-8">
				<email:content ><![CDATA[#[payload.emailBody as String]]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[{
	(payload.attachmentName): vars.attachment
}]]]></email:attachments>
		</email:send>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="32b27462-00d6-4346-ba3b-3064fb17df98" >
				<logger level="WARN" doc:name="WARN Error while sending email" doc:id="92cebffe-3de4-4e69-8806-4c0432077acc" message='#["Error while sending emailt: $(error.cause.message)"]' />
			</on-error-propagate>
		</error-handler>
	</flow>
	<sub-flow name="hvac-unneeded-material-email-get-email-address-of-owner-flow" doc:id="b30fe77b-ab33-4494-8c17-3f2f91eb552f" >
		<logger level="DEBUG" doc:name="DEBUG Get email of buyer" doc:id="03854572-cad7-4b72-b197-d55a39acccfd" message='#["Get email of: $(payload.personalnummerEinkaeufer)"]' category="de.meyerwerft.integration.hvac_unneededmaterial_app"/>
		<db:select doc:name="Select email of buyer" doc:id="9e78660d-be13-48b4-b3af-38c47a697f75" config-ref="${common-as400.config-ref}">
			<db:sql ><![CDATA[Select TFGMAI from jlmtab.telefon where pnr = :pnrNumber]]></db:sql>
			<db:input-parameters ><![CDATA[#[{pnrNumber: (payload.personalnummerEinkaeufer as Number)}]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[trim(payload[0].TFGMAI)]" doc:name="extract email" doc:id="aae6489e-eff0-4cdf-a265-5d64da7546dd" />
		<logger level="DEBUG" doc:name="DEBUG print email of buyer" doc:id="14a4e701-3d43-4f81-abd5-4fbaa2e41fb0" message="#[&quot;Email of buyer is: $(vars.payload default 'unknown')&quot;]" category="de.meyerwerft.integration.hvac_unneededmaterial_app"/>
	</sub-flow>
</mule>
